<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是我们定义接口的全限定名字 这样就可以使用接口调用映射的SQL语句了 这个名字一定要和接口对应上-->
<mapper namespace="dao.AddressDaoMapper">
    <insert id="insertAddress" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_EADDRESSID.nextval from dual
        </selectKey>
        insert into E_ADDRESS values(#{id},#{userid},#{name},#{phone},#{info})
    </insert>


    <select id="findAllAddress" resultType="bean.Address">
        select * from E_ADDRESS
    </select>

    <select id="findAddressById" resultType="bean.Address">
        select * from E_ADDRESS where USERID=#{userid}
    </select>

    <delete id="deleteAddress" parameterType="int">
        delete from E_ADDRESS where ID=#{id}
    </delete>
</mapper>