<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.briup.mappers.StudentMapper是我们定义接口的全限定名字 这样就可以使用接口调用映射的SQL语句了 这个名字一定要和接口对应上-->
<mapper namespace="mappers.StudentMapper">

	<!--定义映射规则:查询出的字段colume 对应哪种类型type对象的属性property-->
	<resultMap type="Student" id="StudentResult">
		<id property="studId" column="stud_id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="dob" column="dob" />

	</resultMap>


	<select id="findAllStudents" resultMap="StudentResult">
		SELECT * FROM STUDENTS
	</select>

	<!-- 列名和属性名字不一致可以给查询的列起一个别名   resulType="Student"返回对象-->
	<select id="findStudentById" parameterType="int" resultType="Student">
		select STUD_ID studId,name,EMAIL,DOB
		from STUDENTS
		where STUD_ID = #{studId}
	</select>
	<insert id="insertStudent" parameterType="Student">
		insert into students(stud_id,name,email,dob) 
		values(#{studId},#{name},#{email},#{dob})
	</insert>

	<!--添加自定义类型,类型处理器-->
	<insert id="insertStudentWithPhone" parameterType="Student">
		insert into STUDENTS(STUD_ID, NAME, EMAIL, DOB,PHONE)
		values (#{studId},#{name},#{email},#{dob},#{phone})
	</insert>
    <!--test5 -->
    <select id="findStudentWithPhoneById" parameterType="int" resultType="student">
        select STUD_ID,NAME,EMAIL,DOB,PHONE
        from STUDENTS
        where STUD_ID=#{id}
    </select>
</mapper>