<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zb_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>com.briup.day1.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet1</servlet-name>
    <servlet-class>com.briup.day2.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet1</servlet-name>
    <url-pattern>/tests1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet2</servlet-name>
    <servlet-class>com.briup.day2.Test2GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet2</servlet-name>
    <url-pattern>/tests2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet3</servlet-name>
    <servlet-class>com.briup.day2.Test3HttpServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet3</servlet-name>
    <url-pattern>/tests3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet4</servlet-name>
    <servlet-class>com.briup.day2.Test4URLPattern</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet4</servlet-name>
    <url-pattern>/tests4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testServlet4</servlet-name>
    <url-pattern>/tests44</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testServlet4</servlet-name>
    <url-pattern>/tests444/a/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testServlet4</servlet-name>
    <url-pattern>*.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test5Life</servlet-name>
    <servlet-class>com.briup.day2.Test5LifeServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>tom</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>test5Life</servlet-name>
    <url-pattern>/tests5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d3Test1Servlet</servlet-name>
    <servlet-class>com.briup.day3.urltest.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d3Test1Servlet</servlet-name>
    <url-pattern>/d3test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d3Test2Servlet</servlet-name>
    <servlet-class>com.briup.day3.urltest.Test2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d3Test2Servlet</servlet-name>
    <url-pattern>/a/b/d3test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d3Test3Servlet</servlet-name>
    <servlet-class>com.briup.day3.urltest.Test3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d3Test3Servlet</servlet-name>
    <url-pattern>/c/d/d3test3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d3Test4Servlet</servlet-name>
    <servlet-class>com.briup.day3.urltest.Test4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d3Test4Servlet</servlet-name>
    <url-pattern>/day3/d3test4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1RequestServlet</display-name>
    <servlet-name>Test1RequestServlet</servlet-name>
    <servlet-class>com.briup.day4.Test1RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1RequestServlet</servlet-name>
    <url-pattern>/reqparam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestGetParam</display-name>
    <servlet-name>TestGetParam</servlet-name>
    <servlet-class>com.briup.day4.TestGetParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestGetParam</servlet-name>
    <url-pattern>/getparam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2SessionServlet</display-name>
    <servlet-name>Test2SessionServlet</servlet-name>
    <servlet-class>com.briup.day4.Test2SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2SessionServlet</servlet-name>
    <url-pattern>/sesparam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test3ApplicationServlet</servlet-name>
    <servlet-class>com.briup.day4.Test3ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3ApplicationServlet</servlet-name>
    <url-pattern>/applicationparam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test4Method</display-name>
    <servlet-name>Test4Method</servlet-name>
    <servlet-class>com.briup.day4.Test4Method</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test4Method</servlet-name>
    <url-pattern>/method</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>briup</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Test5Cookie1</display-name>
    <servlet-name>Test5Cookie1</servlet-name>
    <servlet-class>com.briup.day4.Test5Cookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test5Cookie1</servlet-name>
    <url-pattern>/c1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test6GetCookie</display-name>
    <servlet-name>Test6GetCookie</servlet-name>
    <servlet-class>com.briup.day4.Test6GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test6GetCookie</servlet-name>
    <url-pattern>/getcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test7CookieUrl</display-name>
    <servlet-name>Test7CookieUrl</servlet-name>
    <servlet-class>com.briup.day4.Test7CookieUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test7CookieUrl</servlet-name>
    <url-pattern>/urlcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1ReuqestTest</display-name>
    <servlet-name>Test1ReuqestTest</servlet-name>
    <servlet-class>com.briup.day5.Test1ReuqestTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1ReuqestTest</servlet-name>
    <url-pattern>/usertest/test1req</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.briup.day5.filter.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopCarServlet</display-name>
    <servlet-name>AddShopCarServlet</servlet-name>
    <servlet-class>com.briup.day5.filter.AddShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopCarServlet</servlet-name>
    <url-pattern>/user/addShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestARRAttribute</display-name>
    <servlet-name>TestARRAttribute</servlet-name>
    <servlet-class>com.briup.day5.listener.TestARRAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestARRAttribute</servlet-name>
    <url-pattern>/arr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.briup.day5.UpLoadServlet</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>/upload</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.briup.day5.DownLoadServlet</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>/download</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test4FRServlet</display-name>
    <servlet-name>Test4FRServlet</servlet-name>
    <servlet-class>com.briup.day7.Test4FRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test4FRServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test5JSTL</display-name>
    <servlet-name>Test5JSTL</servlet-name>
    <servlet-class>com.briup.day7.Test5JSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test5JSTL</servlet-name>
    <url-pattern>/test5jstl</url-pattern>
  </servlet-mapping>
</web-app>